<ng-view></ng-view>

<script type="text/ng-template" id="table.html">
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Add a task</h2>
    </div>
    <div class="panel-body">
      <form id="add-task" ng-submit="create()">
      
        {{ create_error_message }}
      
        <div class="row">
          <div class="form-group col-md-6" ng-class="{'has-error': create_errors['name'].length}">
            <label for="name" class="sr-only">Name</label>
            <input type="text" name="name" id="name" autofocus="true" class="form-control" placeholder="Task name" required ng-model= "new_task.name">
            <span class="label label-danger" ng-if="create_errors['name'].length">{{ create_errors['name'].join(", ") }}</span>
          </div>

          <div class="form-group col-md-2" ng-class="{'has-error': create_errors['priority'].length}">
            <label for="priority" class="sr-only">Priority</label>
            <select name="priority" id="priority" class="form-control" ng-model="new_task.priority">
              <%= options_for_select priority_options.invert %>
            </select>
            <span class="label label-danger" ng-if="create_errors['priority'].length">{{ create_errors['priority'].join(", ") }}</span>
          </div>

          <div class="form-group col-md-3" ng-class="{'has-error': create_errors['due_date'].length}">
            <label for="due_date" class="sr-only">Due</label>
            <div class="input-group">
              <input type="datetime" id="due_date" name="due_date" class="form-control datepicker" data-format="DD/MM/YYYY HH:mm" placeholder="Due date" ng-model= "new_task.due_date">
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <span class="label label-danger" ng-if="create_errors['due_date'].length">{{ create_errors['due_date'].join(", ") }}</span>
          </div>

          <div class="col-md-1">
            <button class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li ng-class="{active: completed == false}">
      <a href="#/">
        Pending
        <span class="badge" ng-if="pending_count > 0">{{ pending_count }}</span>
      </a>
    </li>
    
    <li ng-class="{active: completed == true}">
      <a href="#/?completed">
        Completed
        <span class="badge" ng-if="completed_count > 0">{{ completed_count }}</span>
      </a>
    </li>
  </ul>
  
  <p class="message" ng-if="data.length == 0">You have no tasks.</p>

  <form id="edit-task" ng-blur="finish_edit()" ng-submit="finish_edit(); $event.stopPropagation()">

    <table class="table table-striped table-responsive tasks" ng-if="data.length > 0">
      <thead>
        <tr>
          <th ng-class="{active: sort == 'name'}"><a href="#/?{{ sort_url('name') }}">Name</a></th>
          <th ng-class="{active: sort == 'priority'}"><a href="#/?{{ sort_url('priority') }}">Priority</a></th>
          <th ng-class="{active: sort == 'due_date'}"><a href="#/?{{ sort_url('due_date') }}">Due</a></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in data" ng-class="{editor: edited == task}" ng-click="edit(task)">
          <td class="col-md-4">
            <span class="alert-danger" ng-if="edit_error_message && (edited == task)">{{ edit_error_message }}</span>
            
            <span ng-if="edited != task">{{ task.name }}</span>
            <input type="text" name="name" autofocus="true" class="form-control" placeholder="Task name" required ng-if="edited == task" ng-model= "task.name">
            <span class="label label-danger" ng-if="edit_errors['name'].length && (edited == task)">{{ edit_errors['name'].join(", ") }}</span>
          </td>
          
          <td class="priority col-md-2">
            <span ng-if="edited != task">{{ task.priority | translatePriority }}</span>
            <select name="priority" class="form-control" ng-model="task.priority" ng-if="edited == task">
              <%= options_for_select priority_options.invert %>
            </select>
            <span class="label label-danger" ng-if="edit_errors['priority'].length && (edited == task)">{{ edit_errors['priority'].join(", ") }}</span>
          </td>
          
          <td class="col-md-3">
            <span ng-if="task.due_date && edited != task" ng-class="{'label label-danger': due_date_in_past(task.due_date)}">{{ task.due_date | fromNow }}</span>
            <div class="input-group" ng-if="edited == task" ng-class="{'has-error': edit_errors['due_date'].length}">
              <input type="datetime" name="due_date" class="form-control datepicker" data-format="DD/MM/YYYY HH:mm" placeholder="Due date" ng-model= "task.due_date" date-picker>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              <span class="label label-danger" ng-if="edit_errors['due_date'].length">{{ edit_errors['due_date'].join(", ") }}</span>
            </div>
          </td>
          
          <td class="actions col-md-3">
            <button ng-if="edited.id == task.id" ng-click="finish_edit(); $event.stopPropagation()" class="btn btn-primary">Save</button>
            
            <a ng-if="edited != task" ng-click="destroy(task)" class="btn btn-danger">Delete</a>
            
            <a ng-if="task.completed_at != null && edited != task" ng-click="incomplete(task)" class="btn btn-primary">Mark Incomplete</a>
            <a ng-if="task.completed_at == null && edited != task" ng-click="complete(task)" class="btn btn-primary">Mark Complete</a>
          </td>
        </tr>
      </tbody>
    </table>
    
  </form>
</script>