<div class="container" ng-app="todo">
  <h1>My List</h1>
    
  <%= render partial: 'angular' %>
  
  <noscript>
    <%= render partial: 'add' %>
    <%= render partial: 'tabs' %>
    <%= render partial: 'table' %>
  </noscript>
</div>