<div class="container">
  <h1>Project Requirements</h1>
  
  <p>The requirements for the test project are:</p>

  <p>Could you write me a todo list management web application where:</p>
  
  <ul>
    <li>I can have my todo list displayed.</li>
    <li>I can manipulate my list (add/remove/modify entries).</li>
    <li>Assign priorities and due dates to the entries.</li>
    <li>I can sort my entry lists using due date and priority.</li>
    <li>I can mark an entry as completed.</li>
    <li>Minimal UI/UX design is needed.</li>
    <li>I need every client operation done using JavaScript, reloading the page is not an option.</li>
    <li>Write a RESTful API which will allow a third-party application to trigger actions on your app (same actions available on the webpage).</li>
    <li>You need to be able to pass credentials to both the webpage and the API.</li>
    <li>As complementary to the last item, one should be able to create users in the system via an interface, probably a signup/register screen.</li>
  </ul>
  
</div>