<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>This to do list management application is a project developed by Steve Lorek for Toptal.</p>
    <p>
      <%= link_to 'Sign In/Register', new_user_session_path, class: 'btn btn-lg btn-primary' %>
    </p>
    
    <p><%= link_to 'Review the project requirements', documentation_path %></p>
  </div>
</div>