<!DOCTYPE html>
<html lang="en">
<head>
  <title>To Do Application: API Documentation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "swagger", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= javascript_include_tag "swagger" %>

<%= yield %>

</body>
</html>
